.App {
  text-align: center !important;

  user-select: none !important;
}

.App-logo {
  height: 40vmin !important;
  pointer-events: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34 !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: calc(10px + 2vmin) !important;
  color: white !important;
  text-decoration: none !important;
  z-index: 1 !important;
}

.App-title{
  color: white;
  text-decoration: none !important;

  margin: 12px auto !important;
}

a:-webkit-any-link{
  text-decoration: none !important;
}

.App-title-image{
  height: 42px !important;
  margin-bottom: 2px !important;
  text-decoration: none !important;
}

.App-title-link{
  position: absolute;
  right: 25px;
  font-size: 16px;
  padding: 5px 10px;
  font-weight: 600;

  color: black;
  text-decoration: none;

  border: 1px solid black;

  border-radius: 5px;

  background-color: white;
}

.App-main{
  margin: 70px auto !important;
  margin-top: 90px !important;
  display: flex !important;
  flex-direction: column !important;
  /* min-height: 180vh !important; */
  align-items: center !important;
  justify-content: center !important;
}

.App-footer{
  position: fixed !important;
  width: 100% !important;
  bottom: 0 !important;
  background-color: #282c34 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  color: white !important;

  font-weight: 600 !important;
}

.App-footer-para{
  margin: 10px auto !important;
}

.App-footer-title{
  color: rgb(255, 52, 52) !important;
}

.App-footer-image{
  height: 23px !important;
  margin-bottom: 4px !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 440px){
  .App-header, .App-title{
    font-size: 20px;
    font-weight: 700;
  }

  .App-title-image{
    height: 32px !important;
  }

  .App-title-link{
    right: 15px;
    font-size: 14px;
    padding: 4px 8px;
    font-weight: 600;
  }
}