.App {
  text-align: center !important;

  user-select: none !important;
}

.App-logo {
  height: 40vmin !important;
  pointer-events: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c3483 !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: calc(10px + 2vmin) !important;
  color: white !important;
  text-decoration: none !important;
}

.App-title{
  color: white;
  text-decoration: none !important;
}

a:-webkit-any-link{
  text-decoration: none !important;
}

.App-title-image{
  height: 42px !important;
  margin-bottom: -10px !important;
  text-decoration: none !important;
}

.App-title-link{
  position: absolute;
  right: 25px;

  color: black;
  font-size: 16px;
  text-decoration: none;

  font-weight: 600;
  border: 1px solid black;
  padding: 5px 10px;

  border-radius: 5px;

  background-color: white;
}

.App-main{
  display: flex !important;
  flex-direction: column !important;
  min-height: 170vh !important;
  align-items: center !important;
  justify-content: center !important;
}

.App-footer{
  position: fixed !important;
  width: 100% !important;
  bottom: 0 !important;
  background-color: #282c34 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  color: white !important;

  font-weight: 600 !important;
}

.App-footer-title{
  color: rgb(255, 52, 52) !important;
}

.App-footer-image{
  height: 23px !important;
  margin-bottom: -4px !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}