.mobile-card{
    margin-bottom: 15px;
    transition: box-shadow .3s;
}

.mobile-card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.mobile-image{
    width: 122px;
}

.mobile-title{
    margin-bottom: 0;
}